@model CCIH.Entities.ChangePwEnt
@{
    ViewBag.Title = "CambiarContraseña";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cambiar Contraseña</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administration/Inicio">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Cambiar Contraseña</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IdUser)
        <section class="section">
            <div class="row">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Registro de Usuario</h5>
                    </div>

                    <div class="container">
                        <div class="row mb-3 d-flex justify-content-center">
                            <label for="inputNumber" class="col-sm-3 col-form-label">Contraseña Actual</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.PWNow, new { @type = "text", @placeholder = "Digite la contraseña Actual", @id = "PwActual", @class = "form-control" })
                            </div>
                        </div>
                        <div id="prueba" class="row mb-3 d-flex justify-content-center">
                            <label for="inputNumber" class="col-sm-3 col-form-label">Nueva Contraseña</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.PwNew, new { @type = "text", @placeholder = "Digite la nueva contraseña", @id = "PwNuevo", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3 d-flex justify-content-center">
                            <label for="inputNumber" class="col-sm-3 col-form-label">Confirmar Contraseña</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.ConfirmPw, new { @type = "text", @placeholder = "Digite el primer apellido", @id = "ConfPw", @class = "form-control" })
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                            <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</main>
