<!-- General Form Elements -->
@using (Html.BeginForm("AllHours", "TeachersController", FormMethod.Post, new { id = "WorkHoursForm" }))
{

    <input type="hidden" id="UserId" name="UserId" />

    <div class="row">
        <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Ingreso</label>
            <div class="col-sm-10">
                <input type="date" class="form-control">
            </div>
            <input type="hidden" id="EntryTime" name="EntryTime" />
        </div>
    </div>

    <div class="row">
        <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Salida</label>
            <div class="col-sm-10">
                <input type="date" class="form-control">
            </div>
            <input type="hidden" id="ExitTime" name="fechaFin" />
        </div>
    </div>

    <div class="row">
        <div class="row mb-0">
            <button style="max-width:30%" type="button" class="btn btn-primary btn-block" onclick="CalculateHours()">Buscar</button>
            <div class="col-sm-10">
                <label for="TotalWorkHours" class="col-form-label">Total de Horas:</label>
                <input style="max-width:20%" id="TotalWorkHours" name="TotalWorkHours" type="text" class="form-control w-100" readonly disabled />
            </div>
        </div>
    </div>

    <div class="col-sm-3">
    </div>
}
