
@{
    ViewBag.Title = "RequestTeacher";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Lista de Profesores</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administration/Inicio">Inicio</a></li>
                <li class="breadcrumb-item">Profesores</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <h5>  Profesores</h5>
    </section>

</main>
